@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111b24;
  overflow-x: hidden;
}

.ant-menu-horizontal .ant-menu-submenu-title:hover {
  color: white !important;
  border: none !important;
  border-bottom: none !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-open::after {
  border-bottom: none !important;
  border-width: 0px !important;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
  content: none !important;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-open {
  border-bottom: none !important;
}
.ant-menu-submenu:hover {
  border: none !important;
  border-bottom: none !important;
  transition: none !important;
}
.ant-menu-light:hover {
  border: none !important;
  border-top: none !important;
  transition: none !important;
}
.design {
  background-color: rgba(255, 255, 255, 0);
  border-top: 30px solid rgb(255, 255, 255);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  width: 53%;
  margin: auto;
  z-index: -1;
  position: absolute;
  left: 40px;
  top: 36px;
  right: 40px;
}
.ant-card .ant-card-meta-title {
  height: 14vh;
  font-size: 25px;
  white-space: normal;
  line-height: 27px;
}
.ant-card-bordered .ant-card-cover {
  width: 100% !important;
}
.ant-card .ant-card-cover > * {
  border: none !important;
}
.ant-card .ant-card-meta-title {
  border-left: 2px solid #00eac7;
  padding-left: 10px;
  color: white;
}
.ant-card-meta-avatar {
  position: absolute;
  right: 0px;
  bottom: 29px;
  font-size: 20px;
}
.ant-card .ant-card-meta-description {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  color: #00ccab;
  width: 65%;
  left: 75px;
  font-size: 1rem !important;
  position: relative;
}
.ant-card-meta-avatar:hover {
  color: #00eac7;
}
.ant-card .ant-card-meta-description:hover {
  color: #00eac7;
}
.backimg {
  background-image: url("./images/featured-panel-features.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -30px;
}
.backimg2 {
  background-image: url("./images/bg4.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -30px;
}
.backimg3 {
  background-image: url("./images/bg2.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.backgroundimage {
  background-image: url("./images/bg1.png");
  background-repeat: no-repeat;
  height: 24vh;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.backgroundimagedown {
  background-image: url("./images/bg1.png");
  background-repeat: no-repeat;
  height: 24vh;
  background-position: center;
  background-size: cover;
  transform: rotate(180deg);
}
.rotateimg {
  rotate: 180deg;
}
.back_img {
  background-image: url("../src/images/backsvg.svg");
  width: 100%;
  background-position-x: center;
}
.ant-card .ant-card-meta {
  width: 90% !important;
  margin-left: 0px;
}
.ant-card {
  display: flex;
  margin-top: 40px;
  width: 53%;
  border: 2px solid #1b2b38 !important;
  background: #182733 !important;
  margin-bottom: 40px;
}
.img-hover-zoom--slowmo {
  transition: 0.9s all ease;
}

.imagezoom:hover {
  overflow: hidden;
}
.imagezoom {
  overflow: hidden;
}

.moveable:first-of-type {
  right: -10px !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out !important;
  position: relative !important;
}
/* .moveable:first-of-type:hover {
  right: 0px !important;
} */
/* .parent:hover .child{ display:block; } */
.div_section:hover .moveable:first-of-type {
  right: 0px !important;
}
.div_section:hover .img-hover-zoom--slowmo {
  transform: scale(1.1);
}

/* #asdf:hover > #affect_this_element */

.ant-menu-light {
  color: white !important;
  background-color: transparent !important;
  font-size: 16px;
  font-weight: 700;
  gap: 20px !important;

  /* margin-left: 50%;
  margin-right: 50%; */
}
.ant-menu-light.ant-menu-submenu > .ant-menu {
  background-color: #182733 !important;
}
.ant-menu .ant-menu-item-group-title {
  color: white !important;
}
.ant-menu-light.ant-menu-submenu > .ant-menu {
  width: 280px !important;
  background-color: #182733 !important;
  position: absolute;
  left: -93px;
}

/* .stop:hover{
  
  animation-play-state: paused;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.marquee-container {
  width: 97% !important;
  margin: auto;
}
.btn_class {
  padding: 0px 15px;
  border-radius: 35px;
  height: 7vh;
  width: 130%;
}
.btn_classBlock {
  padding: 0px 15px;
  border-radius: 35px;
  height: 9vh;
  width: 100%;
}
.btn_classBlock:hover {
  box-shadow: 0 0 12px rgb(0 204 171 / 20%);
}
.btn_move {
  left: 160px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out !important;
}
.btn_move:hover {
  left: 109px !important;
}
.border_class {
  border-bottom: 2px solid #00ccab !important;
}
#mouse-parallax-container {
  height: 100vh !important;
  width: 100% !important;
  overflow: visible !important;
}

.sliderClass {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  background-color: #14202a;
  height: 115px !important;
  gap: 10px;
  width: 80% !important;
  border: 2px solid #1b2b38;
  /* padding-left: 10px; */
  /* margin-bottom: 10px; */
}
.border_left {
  border-right: 2px solid #1b2b38;
  border-top: 2px solid #1b2b38;
  border-bottom: 2px solid #1b2b38;
}
.border_right {
  border-left: 2px solid #1b2b38;
  border-top: 2px solid #1b2b38;
  border-bottom: 2px solid #1b2b38;
}
.footer_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 131%;
}
.ant-space-item {
  width: 120% !important;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  padding-top: 0;
  padding-bottom: 0;
  border-start-start-radius: 30px !important;
  border-start-end-radius: 30px !important;
  border-end-end-radius: 30px !important;
  border-end-start-radius: 30px !important;
  background-color: #00eac7;
  width: 160%;
  position: relative;
  right: 126px;
  z-index: 1;
}
.ant-input-search
  :where(.css-dev-only-do-not-override-1ij74fp).ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  background-color: #0f171f !important;
  border: 1px solid #262626;
}

.ant-input-affix-wrapper-focused {
  border: 1px solid #00eac7 !important;
}
.ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
  background-color: #0f171f !important;
  /* color: white; */
}
.ant-input::placeholder {
  color: white;
}
.icon_color {
  color: white;
  height: 20px;
  width: 20px;
}
.ant-input-group {
  width: 120% !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00eac7 !important;
  border-color: #00eac7 !important;
}
.ant-checkbox .ant-checkbox-inner {
  background-color: #ffffff00;
}
.border-color {
  border-width: 1px;
}
/* .slick-vertical .slick-slide {
  width: 100% !important;
}
.slick-track {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
 */

.slick-slide {
  opacity: 0.3;
}

.slick-current,
.slick-center {
  opacity: 1;
  transform: scale(1, 1);
}
.slider_shape {
  display: flex !important;
  flex-direction: column !important;
  justify-content: start;
  width: 50% !important;
  height: 270px;
  border: 1px solid #242a30 !important;
  padding: 30px 13px;
}

.ant-skeleton.ant-skeleton-element .ant-skeleton-button {
  background:  #16232e !important;
}


.btn_header:hover {
  box-shadow: 0 0 12px rgb(127 244 227 / 60%);
}
.ant-input-group-addon:last-child .ant-input-search-button:hover {
  box-shadow: 0 0 12px rgb(127 244 227 / 60%);
  background-color: #7ff4e3;
}

.btn_header_slider:hover {
  box-shadow: 0 0 12px rgb(0 204 171 / 20%);
}
.headingLine {
  border-left: 2px solid #00eac7;
  padding-left: 10px;
  margin-left: -11px;
}

.slick-list {
  padding: 6px 0px !important;
  width: 100%;
  margin: auto;
}

.marquee-content {
  display: flex;
  padding-top: 5px;
  animation: scrolling 10s linear infinite;
}
.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
  display: flex;
  align-items: center;
}

@keyframes scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.marquee-content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.marquee-content:hover .opac {
  opacity: 0.1;
}

.marquee-content .opac:hover {
  opacity: 1;
}

.ant-menu-overflow:hover .ant-menu-overflow-item {
  opacity: 0.5 !important;
}
.ant-menu-overflow .ant-menu-overflow-item:hover {
  opacity: 1 !important;
}

.ant-avatar {
  width: 50px !important;
  height: 50px !important;
}
.ant-list-item-meta-content {
  margin-top: 12px;
}
.ant-list-vertical
  .ant-list-item
  .ant-list-item-meta
  .ant-list-item-meta-title {
  line-height: 1.3 !important;
  font-size: 1.125rem !important;
  letter-spacing: 0.05rem;
}
.ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title > a {
  color: white !important;
}
.ant-list
  .ant-list-item
  .ant-list-item-meta
  .ant-list-item-meta-title
  > a:hover {
  color: white !important;
}
.ant-list-item-meta-description {
  color: #bccbd6 !important;
  line-height: 1.5 !important;
  font-size: 0.88rem !important;
}
.borders_class {
  width: 50%;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
