/* .slider_shape {
    display: flex !important;
    flex-direction: column !important;
    justify-content: start;
    width: 100% !important;
    height: 270px;
    border: 1px solid #242a30 !important;
    padding: 30px 13px;
  } */
  /* .slick-slider{
    width: 50% !important;
  } */
  /* .ant-skeleton{
    display: flex !important;
    flex-direction: column !important;
    justify-content: start;
    width: 100% !important;
    height: 270px;
    border: 1px solid #242a30 !important;
    padding: 30px 13px;

  } */